<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Iceland&display=swap');
    </style>
</head>
<body>
  
<header class="index-header">
  <nav>
      <ul>
          <li class="brand">
              <a href="">Events</a>
          </li>
          <div>
          <li>
              <a href="/events">List</a>
          </li>
          <li>
              <a href="/events/new">Add Event</a>
          </li>
      </div>
      </ul>
  </nav>
</header>
<section class="index">
  <div class="lightboxOverlay"></div>
<article>
<h1>Welcome to Event Managements</h1>
<a href="/events">Get Started</a>
</article>
</section>cd <main></main>
</body>
</html>



