<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@400;600;700&display=swap');
        </style>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="brand">
                    <a href="">Event</a>
                </li>
                <div>
                <li>
                    <a href="/" class="color">Home</a>
                </li>
                <li>
                    <a href="">All Event</a>
                </li>
                <li>
                    <a href="/events/new">Add Event</a>
                </li>
            </div>
            </ul>
        </nav>
    </header>
</body>
</html>